HW_04/HW_04/Debug/
HW_04/HW_04.VC.db
HW_04/HW_04.sln
HW_04/HW_04.VC.VC.opendb
HW_04/HW_04/HW_04.vcxproj.filters
HW_04/HW_04/HW_04.vcxproj
HW_04/Debug/HW_04.pdb
HW_04/Debug/HW_04.ilk
HW_04/Debug/HW_04.exe
HW_04/.vs/HW_04/v14/.suo
